:root {
    --primary-color: red;
    --secondary-color: white;
    --text-size: 5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .layout-menu-item {
        @apply hover:bg-gray-300 flex gap-5 p-3
    }
}

@layer utilities {
    body {
        background-color: #ededf0;
    }

    .mapboxgl-popup-content {
        background: transparent!important;
        box-shadow: 0 0px 0px rgb(0 0 0 / 10%)!important;
        padding:0!important;
        pointer-events: auto;
        position: relative;
    }
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }
    .scrollbar::-webkit-scrollbar-track:hover {
        background: rgb(203 213 225);
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}