:root {
    --primary-color: red;
    --secondary-color: white;
    --base-color: #ededf0;
    --header-color: #b8b8b84c;
    --text-size: 5rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Montserrat;
        src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 600;
        src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 800;
        src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
    }
    @font-face {
        font-family: Montserrat;
        font-weight: 900;
        src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) ;
    }


}

@layer components {

    .layout-menu-item {
        @apply hover:bg-gray-300 flex gap-5 p-3
    }
}

@layer utilities {
    body {
        background-color: var(--base-color);
        font-family: Montserrat;
        color: #5f616e;
    }

    .mapboxgl-popup-content {
        background: transparent!important;
        box-shadow: 0 0px 0px rgb(0 0 0 / 10%)!important;
        padding:0!important;
        pointer-events: auto;
        position: relative;
    }
    .scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }
    .scrollbar::-webkit-scrollbar-track:hover {
        background: rgb(203 213 225);
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }

    .red-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        
    }

    .red-scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: var(--primary-color);
        margin: 2rem;
    }


    .red-scrollbar::-webkit-scrollbar-thumb {
        background: var(--secondary-color);
        border-radius: 100vh;
        border: 2px solid var(--primary-color);
    }

  
}